<p> <%=@email.body%> </p>


<div class="row">

  <div class="col " >
    <%= link_to "Supprimer", email_path(@email), method: :delete, class: "btn btn-danger btn-lg", remote: true %>
  </div>
  <br/><br/>
  hello
  <div class="col">
  <%= link_to "Marquer comme non lu", email_path(@email), method: :patch, class: "btn btn-secondary btn-lg", remote: true %>

  </div>

  <div class="col">

  </div>

</div>